<link rel="stylesheet" href="/static/css/styles.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="/static/css/styles.css" />
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@500&display=swap" rel="stylesheet">


<div class="imgZone">
    <img src="/static/image/main.png" class="main_img " onclick="location.href='/page'">
</div>

<div class="userinfo">
    <span class="userinfoSpan">
        <form action="/user/profile_image" method="post" enctype="multipart/form-data">
            
            <%if(!iskakao){%>
            <img id="preview" src="/static/<%=profile_image%>" alt="프로필 사진" width="110"
            height="110">
            <br>
            <input type="file" name="file_name" onchange="readURL(this)">
            <button type="submit" style="background-color: aqua;">프로필 사진 변경</button>
            <%}else{%>
            <img id="preview" src="<%=profile_image%>" alt="프로필 사진" width="110"
            height="110">
            <%}%>
        </form>
    </span>


    <span class="userinfoSpan">아이디: <%=id%><br>
            이름:<%=name%><br>
                이메일:<%=email%><br></span>

</div>

<%- include ("./mypage_content") %>

        <%- include ("./mypage_like") %>

        <script>
                function readURL(input){
        const file = input.files[0]
        console.log(file);
        if(file !="") {
            const reader = new FileReader()
            reader.readAsDataURL(file)
            reader.onload =(e)=>{
                document.querySelector("#preview").src =e.target.result;
            }
        }
    }
        </script>